/* root*/
:root {
    --secondary-color: #2196F3;
    --color-main: #212121;
    --minor-color: #FFFFFF;
    --background-color: #E5E5E5;
    --item-color: #757575;
    --dark-background-color: #2F303A;
    --link-color: #757575;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --container-preferences-color: rgba(117, 117, 117, 1);
    --small-section-title-color: rgba(33, 33, 33, 1);
    --team-background-color: #F5F4FA;
    --border-color: rgba(238, 238, 238, 1);
    --gradient-background-color: #c4c4c4;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --social-link-color: rgba(175, 177, 184, 1);
    --icon-social-color: #AFB1B8;
    --icon-client-color: #AFB1B8;
    --button-second-background-color: rgba(245, 244, 250, 1);
    --icon-footer-background-color: rgba(255, 255, 255, 0.1);
}