/* section-one*/
.hero-section {
    padding: 200px 0;
    text-align: center;
    background-color: var(--dark-background-color);
   
    max-width: 1600px;
    justify-content: center;
    height: auto;
    width: 100vw;
    outline: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/icons/header-mob.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
        min-width: 480px;
        width: 100%;
        height: auto;
        /*padding-top: 118px;*/
        margin-bottom: 60px;
        background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/icons/header-mob.jpg');
    }

    @media screen and (min-width: 768px) {
        min-width: 768px;
        width: 100%;
        height: auto;
        background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/icons/header-tablet.jpg');
        /*padding-top: 118px;*/
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;
        width: 100%;
        height: auto;
        background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/icons/header-desktop.jpg');
        
        /*padding-top: 200px;*/
    }


    &__container {
    
            /*padding: 0 15px;*/
            /*width: 1200px;*/
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
    
            @media screen and (min-width:480px) {
                width: 480px;
            }
    
            @media screen and (min-width:768px) {
                width: 768px;
            }
    
            @media screen and (min-width:1200px) {
                width: 1200px;
            }
        }

    &__title {
        color: var(--minor-color);
        font-style: normal;
        font-weight: 900;
        /* font-size: 44px;
        line-height: 1.36;*/
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /*width: 696px;*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        @media screen and (min-width: 480px) {
            width: 360px;
            height: 84px;
            font-size: 26px;
            line-height: 1.62;
        }

        @media screen and (min-width: 768px) {
            width: 360px;
            height: 84px;
            font-size: 26px;
            line-height: 1.62;
        }

        @media screen and (min-width: 1200px) {
            width: 696px;
            height: 120px;
            font-size: 44px;
            line-height: 1.36;
        }

    }

    &__button {
        
        color: var(--minor-color);
        background-color: var(--secondary-color);
        
        justify-content: center;
        align-items: center;
        text-align: center;
height: 50px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        transition-property: fill, backgroud-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: none;

        @media screen and (min-width: 480px) {
            padding-left: 24px;
            padding-top: 10px;
            padding-right: 24px;
            padding-bottom: 10px;
        }

        @media screen and (min-width: 768px) {
            font-weight: 700;
                font-size: 16px;
                line-height: 1.88;
                letter-spacing: 0.06em;
            
            padding-left: 24px;
            padding-top: 10px;
            padding-right: 24px;
            padding-bottom: 10px;
        }

        @media screen and (min-width: 1200px) {
            
font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    
        }
    }
}