 .preferences-section {
     padding-top: 94px;
     padding-bottom: 0;

     &__container {
    
           
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
    
            @media screen and (min-width:480px) {
                width: 480px;
            }
    
            @media screen and (min-width:768px) {
                width: 768px;
            }
    
            @media screen and (min-width:1200px) {
                width: 1200px;
            }
        }

     &__menu {
         list-style: none;
         font-weight: 500;
         
  @media screen and (max-width:768px){
            display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                 }

        @media screen and (min-width:768px) {
           display: flex; 
           flex-wrap: wrap;
           align-items: center;
           justify-content: center;
          
         }
      
         
     }

 }

 .preferences-section--visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     border: 0;
     clip: rect(0 0 0 0);
 }

 .preferences-section__menu--titled {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     color: var(--small-section-title-color);
     margin-top: 30px;
     margin-bottom: 10px;
 }

 .preferences-section__menu--titled:last-child {
     margin-right: 0;
 }

 .preferences-section__menu--informed {
    
     font-weight: 400;
     font-size: 16px;
     line-height: 1.71;
     color: var(--item-color);
 }

 .preferences-section__menu--itemed {
     margin-right: 30px;
     /*width: 270px;*/
     max-height: 224px;
     margin-bottom: 150px;
    
     
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
    @media screen and (max-width: 479px) {
            width: 100%;
        }
    
        @media screen and (max-width: 767px) {
            width: 450px;
        }
    
        @media screen and (max-width:1199px) {
            width: 354px;
           
        }
    
        @media screen and (min-width:1200px) {
            width: 270px;
        }
     
     

}



 .preferences-section__menu--itemed:last-child {
    @media screen and (min-width:1200px){
       margin-right: 0; 
    }
     
 }

 .preferences-section__menu--itemed::before {
     display: block;
     content: '';
     height: 120px;
     border-radius: 4px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-color: var(--gradient-background-color);
 }

 .preferences-section__menu--itemed:nth-child(1)::before {
     background-image: url(../images/icons/Group1.svg);
    @media screen and (max-width: 479px) {
        width: 100%;
    }
    @media screen and (max-width: 767px) {
            width: 450px;
        }
    @media screen  and (max-width:1199px) {
            width: 354px;
            margin-right: 30px;
        }
    @media screen and (min-width:1200px) {
            width: 270px;
        }
     
 }

 .preferences-section__menu--itemed:nth-child(2)::before {
     background-image: url(../images/icons/Group2.svg);
    @media screen and (max-width: 479px) {
            width: 100%;
        }
    
        @media screen and (max-width: 767px) {
            width: 450px;
        }
    
        @media screen and (max-width:1199px) {
            width: 354px;
            margin-right: 30px;
        }
    
        @media screen and (min-width:1200px) {
            width: 270px;
        }
 }

 .preferences-section__menu--itemed:nth-child(3)::before {
     background-image: url(../images/icons/Group3.svg);
    @media screen and (max-width: 479px) {
            width: 100%;
        }
    
        @media screen and (max-width: 767px) {
            width: 450px;
        }
    
        @media screen and (max-width:1199px) {
            width: 354px;
        }
    
        @media screen and (min-width:1200px) {
            width: 270px;
        }
     
 }

 .preferences-section__menu--itemed:nth-child(4)::before {
     background-image: url(../images/icons/Group4.svg);
     @media screen and (max-width: 479px) {
      width: 100%;
  }

  @media screen and (max-width: 767px) {
      width: 450px;
  }

  @media screen and (max-width:1199px) {
      width: 354px;
  }

  @media screen and (min-width:1200px) {
      width: 270px;
  }
 }
  